{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" CONTENT="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Htmx Tailwind</title>
    <style>
        .htmx-swapping {
            opacity: 0;
            transition: opacity 1s ease-out;
        }
    </style>
</head>
<body class="bg-blue-100">
<nav class="flex items-center justify-between px-4 py-6 text-center bg-gradient-to-r from-cyan-500 to-sky-500">
    <a href="/" class="text-2xl text-white">Tailwind Todo</a>
</nav>

{% block content %}

{% endblock %}


<script src="https://cdn.tailwindcss.com/"></script>
</body>
</html>